<div>
  <h1>Hyper Coders</h1>
  <p>The company that provide all your software solution in one package.</p>
  <span>We are start up who are looking forward to do the incredible in the
    industry, we deliver your best.</span>
</div>